[Unit]
Description=LAST pipeline service

[Service]
User=ocs
WorkingDirectory=/home/ocs/matlab
ExecStart=/usr/local/share/last-tool/bin/last-api-server start
ExecStop=pkill -f SnisOCS
Restart=always

[Install]
WantedBy=multi-user.target
